@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f1f1f1;
}

/* Header */

header {
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 75px;
  color: #fff;
  background-color: #1996df;
}

header h1 {
  float: left;
  height: 100%;
  line-height: 75px;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  font-size: 2rem;
}

header #logout-form {
  display: flex;
  align-items: center;
  float: right;
  margin-right: 150px;
  height: 100%;
}

header #logout-form #logout-btn, header #logout-form #logout-btn:active {
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #1996df;
  outline: none;
  border: 1px solid #fff;
  border-radius: 0.25rem;
}

header #logout-form #logout-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-color: #000;
  transition-duration: 300ms;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #5c5c5c;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  height: 100%;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

nav ul li a:after {
  display: block;
  content: '';
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition: transform 250ms ease-in-out;
  border-bottom: 2px solid #fff;
}

nav ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: 50% 50%;
}

/* /Header */

/* Main */

main {
  width: 100%;
  min-height: calc(100vh - 125px);
}

main #profile-information {
  width: fit-content;
  margin: 50px auto;
}

main #profile-information p {
  font-size: 1.5rem;
}

main #profile-image-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #1996df;
}

main #profile-image-container img {
  max-width: 150px;
  max-height: 150px;
}

#pagination-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100px;
}

#pagination-nav a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  background-color: #1996df;
  border: 1px solid #1996df;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

#pagination-nav a:hover {
  cursor: pointer;
  color: #1996df;
  background-color: #fff;
}

#activity-table {
  margin: 0 auto;
  margin-top: 1rem;
  min-width: 600px;
  border-collapse: collapse;
}

#activity-table thead {
  background-color: #5c5c5c;
  color: #fff;
}

.activity-tr th, .activity-tr td {
  text-align: center;
  height: 30px;
  border: 1px solid #000;
}

.activity-tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.activity-tr:nth-child(even) {
  background-color: #ffffff;
}

.activity-tr:hover {
  color: #fff;
  background-color: #1996df;
}

/* /Main */


/* Login page */

#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#login-box {
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 10px 20px 30px #d6d6d6;
}

#login-box h2 {
  margin: 0;
  text-align: center;
  padding-top: 1rem;
}

#login-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 59px);
}

#login-btn-container a {
  text-decoration: none;
  width: fit-content;
  color: #fff;
  background-color: #1996df;
  border: 1px solid #1996df;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

#login-btn-container a:hover {
  cursor: pointer;
  color: #1996df;
  background-color: #fff;
  transition-duration: 300ms;
}


/* /Login page */


/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #1996df;
}

footer p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* /Footer */