<div id="login-container">
  <div id="login-box">
    <h2>Logga in</h2>
    <div id="login-btn-container">
      <a href="https://gitlab.lnu.se/oauth/authorize?client_id=67f189f9a5a966ff8a597bf19797562cc4b261af1b503635e203f1a8971b729e&redirect_uri=http://localhost:8080/auth/gitlab/callback&response_type=code&state=STATE&scope=read_user+read_api">Logga in med GitLab</a>
    </div>
  </div>
</div>